<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dashboard</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<!-- main dashboard page -->
<body>
    <header class="row radius">
        <div id="logo">
            <img src="./images/logo.png" alt="logo" class="radius">
            <div class="flex-end">
            <h1>Welcome back, <%= name %>!</h1>
        </div>
        </div>
        
    </header>

<!-- Nav Bar -->
<main style="border: 2px solid rgb(125, 18, 220)" class="columns p-4 custom-width">
    <nav class="column is-1 radius" style="border:2px solid rgb(15, 165, 235)">
        <ul class="nav navbar-nav navbar-left">
            <div>
            <a href="/">Home</a>
        </div>
            <div>
            <a href="/profile">Profile</a> 
        </div>       
            <a href="/library"> Library</a>
        </ul>
    </nav>
    <!-- YouTube Search -->
    <div class="column">
        <div class="radius" style="border:2px solid rgb(17, 175, 223)">
            <section class="youtube-search">
                <h2>Search YouTube
                <form action="/youtube-search" method="GET">
                    <label for="youtubeQuery">Search:</label>
                    <input type="text" id="youtubeQuery" name="q" required>
                    <button type="submit">Search</button>
                </form></h2>
            </section>
            <section class="dashboard">
                <h2><%= name %>'s Dashboard</h2>
                    <section class="oil">
                        <!-- insert variable here -->
                        <p>You need your oil changed at miles<label for="name"></label>
                            <input type="text" id="name" name="name" required minlength="1" maxlength="12" size="12" />
                            </p>
                    </section>
                    <section class="tires">
                        <!-- insert variable here -->
                        <p>You need your tires changed at miles<label for="name"></label>
                            <input type="text" id="name" name="name" required minlength="1" maxlength="12" size="12" />
                            </p>
                    </section>
            </section>
        </div>
        <div class="column columns" style="margin-top: 10px;">
            <div class="column radius" style="border:2px solid rgb(17, 175, 223);">
                <section class="dashboard">
                    <h2>Your Auto</h2>
                    <p><%= name %>'s Car</p>
                    <section class="car-info">
                        <!-- insert car info here -->
                        <p>Car Information</p>
                    </section>
                    <section class="car-photo">
                        <!-- insert car photo here -->
                        <img></img>
                    </section>
                </section>
            </div>
            <div class="column">
                <h1>This is a second div in this nested column</h1>
            </div>
        </div>

    </div>

<!-- Dashboard -->

<!-- Profile Overview -->
        <!-- insert weather data here -->
    <!-- <section class="weather">
        <div class="box">
            <p>Temp:  F</p>
            <p>Wind: mph</p>
            <p>Humidity: %</p>
        </div>
    </section> -->
</main>
    <div>
    <form action="/logout" method="POST">
            <button type="logout">Log Out</button>
        </form>
    </div>
</body>

</html>
