<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header class="row radius">
        <div id="logo">
            <img src="./images/logo.png" alt="logo" class="radius">
            <div class="flex-end">
                <h1>Welcome back, <%= name %>!</h1>
            </div>
        </div>
    </header>

    <main style="border: 2px solid rgb(125, 18, 220)" class="columns radius p-4 custom-width">
        <nav class="card is-1 radius p-3" style="border:2px solid rgb(15, 165, 235)">
            <div class="nav navbar-nav navbar-left">
                <div class="margin-navbar">
                    <a href="/"><figure class="image is-64x64">
                        <img src='../../../images/GradientHomeIcon.png'>
                      </figure>
                    </a>
                </div>
                <div class="margin-navbar">
                    <a href="/profile"><figure class="image is-64x64">
                        <img src='../../../images/GradientProfileIcon.png'>
                      </figure>
                    </a> 
                </div>
                <div class="margin-navbar">
                    <a href="/library"><figure class="image is-64x64">
                        <img src='../../../images/LibraryIconFree.png'>
                      </figure>
                    </a>
                </div>
            </div>
        </nav>
        <div class="column">
            <div class="card radius" style="border:2px solid rgb(17, 175, 223)">
                <section class="dashboard">
                    <h2><%= name %>'s Dashboard</h2>
                    <section class="oil">
                        <p>You need your oil changed at miles<label for="oil_change_miles"></label>
                            <input type="text" id="oil_change_miles" name="oil_change_miles" required minlength="1" maxlength="12" size="12" />
                        </p>
                    </section>
                    <section class="tires">
                        <p>You need your tires changed at miles<label for="tire_change_miles"></label>
                            <input type="text" id="tire_change_miles" name="tire_change_miles" required minlength="1" maxlength="12" size="12" />
                        </p>
                    </section>
                </section>
            </div>
            <div class="column columns" style="margin-top: 10px;">
                <div class="column card radius" style="border:2px solid rgb(17, 175, 223);">
                    <section class="dashboard">
                        <h2>Your Auto</h2>
                            <p><%= name %>'s Car</p>
                        <section class="car-info">
                            <p>Car Information</p>
                        </section>
                    <section class="car-photo">
                        <img src="<%= carImage ? carImage : './images/tesla-placehold.jpg' %>" alt="Car Photo">
                        </section>
                </div>
                <div class="column">
                    <h1></h1>
                </div>
            </div>
        </main>
        <div>
            <form action="/logout" method="POST" style="display: flex; justify-content: center;">
                <button type="logout" style="padding: 10px; background-color: red; color: white; border: none; border-radius: 5px;">Log Out</button>
            </form>
        </div>
</body>

</html>
