<!-- main dashboard page -->
<body>
    <header>
        <div id="logo">
            <img src="./images/logo.png" alt="logo">
        </div>
        <h1>Welcome back, <%= name %>!</h1>
        
    </header>

<!-- Nav Bar -->
    <nav>
        <ul>
            <li>Home</li>
            <li>Video Library</li>
            <li>Blog</li>
        </ul>
    </nav>

<!-- Dashboard -->
    <section class="dashboard">
        <h2><%= name %>'s Dashboard</h2>
            <section class="oil">
                <!-- insert variable here -->
                <p>You need your oil changed at miles</p>
            </section>
            <section class="tires">
                <!-- insert variable here -->
                <p>You need your tires changed at miles</p>
            </section>
    </section>

<!-- Profile Overview -->
    <section class="dashboard">
        <h2><%= name %>'s Car</h2>
            <section class="car-info">
                <!-- insert car info here -->
                <p>Car Information</p>
            </section>
            <section class="car-photo">
                <!-- insert car photo here -->
                <img></img>
            </section>
    </section>

    <section class="weather">
        <!-- insert weather data here -->
        <div class="box">
            <p>Temp:  F</p>
            <p>Wind: mph</p>
            <p>Humidity: %</p>
        </div>
    </section>
    <div>
    <form action="/logout" method="POST">
            <button type="logout">Log Out</button>
        </form>
    </div>
</body>