<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Video Library</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
<h1>Video Library</h1>

<!-- Nav Bar -->
    <nav>
        <ul>
            <a href="/">Home</a>
            <a href="/profile">Profile</a>        
            <a href="/library"> Library</a>
            <br>
            <br>
            <div class="column is-one-third radius">
                <section class="youtube-search">
                    <h2>Search YouTube</h2>
                    <form action="/search" method="GET">
                        <label for="youtubeQuery"></label>
                        <input type="text" id="youtubeQuery" name="q" required>
                        <button type="submit" style="position: absolute; margin-top: 30px;">Search</button>
                    </form>
                </section>
                <br><br>
        </ul>
    </nav>

<% console.log(videodata)%>
<!-- Video Sections -->
<div class="video">
    <% videodata.forEach(video => { %>
        <h3><%= video.title %></h3>
        <iframe id="ytplayer" type="text/html" width="480" height="270" frameborder="0" allowfullscreen
                src="<%= video.url %>"></iframe>
    <% }); %>
</div>
    
</body>
</html>
