<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Video Library</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
<!-- Header Section -->
<header class="row radius">
    <div id="logo">
        <img src="./images/logo.png" alt="logo" class="radius">
        <div class="flex-end">
            <h1>Welcome to the Video Library</h1>
        </div>
    </div>
</header>

<!-- Main Section -->
<main class="columns radius p-4 custom-width">
    
    <!-- Navigation Bar -->
<nav class="card is-1 radius p-3 margin-navbar" style="border:2px solid rgb(15, 165, 235); display: flex; flex-direction: column; justify-content: flex-start;">
    <div class="nav navbar-nav navbar-left" style="display: flex; flex-direction: column;">
        <div><a href="/">Home</a></div>
        <div><a href="/profile">Profile</a></div>
        <div><a href="/library"> Library</a></div>
    </div>
    <div style="margin-top: auto;text-decoration: none;">
        <form action="/logout" method="POST" style="display: flex; justify-content: center;">
            <button type="logout" style="padding: 10px; background-color: red; color: white; border: none; border-radius: 5px;">Log Out</button>
        </form>
    </div>
</nav>


    <!-- Video Library Main Content -->
    <div class="column">
        <div class="card radius" style="border:2px solid rgb(17, 175, 223)">
            <section class="video-library">
                <h2>Video Library</h2>
                
                <!-- YouTube Search Section -->
                <section class="youtube-search">
                    <h3>Search YouTube</h3>
                    <form action="/search" method="GET">
                        <label for="youtubeQuery"></label>
                        <input type="text" id="youtubeQuery" name="q" required>
                        <button type="submit" style="position: relative; margin-top: 10px;">Search</button>
                    </form>
                </section>
                
                <!-- Video Section -->
                <section class="video-section">
                    <% console.log(videodata)%>
                    <% videodata.forEach(video => { %>
                        <h3><%= video.title %></h3>
                        <iframe id="ytplayer" type="text/html" width="480" height="270" frameborder="0" allowfullscreen src="<%= video.url %>"></iframe>
                    <% }); %>
                </section>
            </section>
        </div>
    </div>
    
</main>

</body>
</html>
