<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>User Registry</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        <header>
    <h1 class="welcome-message">Welcome to AutoHub</h1>
    </header>
        <h1 id="Login-header" class="custom-header">Login</h1>
        <div class="container align-center">
            <form class="box radius color-blue" action="/login" method="POST">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="name">Name:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input
                                    class="input radius"
                                    type="text"
                                    id="name"
                                    name="name"
                                    required
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="email">Email:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input
                                    class="input radius"
                                    type="email"
                                    id="email"
                                    name="email"
                                    required
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="password">Password:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input
                                    class="input radius"
                                    type="password"
                                    id="password"
                                    name="password"
                                    required
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <button class="button is-link radius" type="submit">
                            Login
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="align-center">
            <a href="/register" class="has-text-link"
                >New here? Create an account!</a
            >
        </div>
    </body>
</html>
