<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>My Profile</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
<h1>My Profile</h1>

<!-- Nav Bar -->
    <nav>
        <ul>
            <a href="/index">Home</a>
            <a href="/profile">Profile</a>        
            <a href="/library"> Library</a>
        </ul>
    </nav>

<!-- Form -->
    <section>
        <form action="">
            <div>
                <label for="make">Car Make: </label>
                <input type="text" id="make" name="make" placeholder="Make" required>
            </div>

            <br>

            <div>
                <label for="model">Car Model: </label>
                <input type="text" id="model" name="model" placeholder="Model" required>
            </div>

            <br>

            <div>
                <label for="year">Year: </label>
                <input type="number" id="year" name="year" maxlength="4" required>
            </div>

            <br>

            <div>
                <label>Automatic</label>
                <input type="radio" name="transmission" value="automatic">

                <label>Manual</label>
                <input type="radio" name="transmission" value="manual">
            </div>

            <br>

            <div>
                <input type="reset">
            </div>

            <br>

            <div>
                <input type="submit">
            </div>
        </form>
    </section>

</body>
</html>