body {
  background-image: url('../../../images/PurpleBlueGradient.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  color:black;
  background-attachment: fixed;
}

#logo img {
  width: 140px;
  height: 70px;
}

nav {
  width:400px;
  height:50px;
  position:relative;



}

h2 {
  display: flex;
  flex-wrap: wrap;

  color: black;
  font-size: 18px;
  padding-bottom: 30px;
  padding-top: 30px;
}
/*
#map {
    height: 400px;
    width: 400px;
    position: relative;
    margin: auto;
    padding: 50px;

  }

*/

/*
  #search {
    display: flex;
    justify-content: center;
    margin: 50px;
  }
  
#search-box {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
}

.banner{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
  padding: 10px;
  
}

#banner-image {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 300px;
  padding-bottom: 50px;
}

img {
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.navbar-item {
  color:white;
}

.navbar-link {
  color:white;
}

*/



/*

#save-button {
  display: flex;
  flex-wrap: wrap;
  display: inline;

}

ul {
  text-align:center;
  padding:10px

}

li {
  text-align:center;
}

#email {
  margin-left:4px;
}


@media screen and (max-width: 992px) {
  body {
    width: 50%;
  
  }
  #map{
    width: 50%;
  }
  .navbar-item{
    color:#36454F
  }
  .navbar-link{
color:#36454F
  } 
  #banner-image{
    width:50%;
  }
}

@media screen and (max-width: 200px) {
  body {
    width: 100%;
  }
  #map{
    width: 100%;
  }

}
*/


