@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body {
  background-image: url('../../../images/PurpleBlueGradient.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  color: black;


}

main {
  position:center;
}

#logo img {
  width: 250px;
  height: 90px;
  margin:0px 0 15px 0;
  box-shadow: 1px 4px 4px rgb(48, 151, 195)
  

}

#logo div {
  width: 50vw;
  margin: 0 auto;
}

nav {
  flex-direction: column;

}



nav ul a {
  margin:15px;
  padding:15px;
  border:15px;
  font-size:20px;
  position:relative;
  /* right:725px; */
}

 nav.column {
  position:relative;
}

/* nav a {
  position: relative;
  padding-left:15px;
  padding:15px;
  margin:20px;
  font-size:25px;

}  */

.radius {
  border-radius: 15px;
}

header div{
  display:flex;
    flex-direction:row;

   /* justify-content:space-evenly; */

}

h1 {
  color: black;
  font-size: 35px;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-left:170px;
  position:center;
}

div label {
  position:relative;
  left:500px;
}

div select {
  position:absolute;
  left:650px;
}

div input {
  position:sticky;
  left:850px;
}
div input#cylinders {
  position:sticky;
  left: 650px;
}

div input#make {
  position:sticky;
  left: 650px;
}

div input#model {
  position:sticky;
  left: 650px;
}

div input#year {
  position:sticky;
  left: 650px;
}

.custom-width {
  width: 70vw;
}


/* form {
  margin:15px;
} */


form.label{
  position: center;


}

form a {
  position:center;
}

ul {
  position:relative;
  flex-direction:row;
  left:700px;
}

div.video {
  position: relative;
  left:650px;
}

ul a {
  position:relative;
}

h2 button{
  position:relative;
  right:50px;
}

h2 form {
  position:relative;
  right:50px;
}

h2 input#youtubeQuery {
  position:relative;
  right:5px;
}

p input#name {
  position:relative;
  left:100px;
}


/*
#map {
    height: 400px;
    width: 400px;
    position: relative;
    margin: auto;
    padding: 50px;

  }

*/

/*
  #search {
    display: flex;
    justify-content: center;
    margin: 50px;
  }
  
#search-box {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
}

.banner{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
  padding: 10px;
  
}

#banner-image {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 300px;
  padding-bottom: 50px;
}

img {
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.navbar-item {
  color:white;
}

.navbar-link {
  color:white;
}

*/



/*

#save-button {
  display: flex;
  flex-wrap: wrap;
  display: inline;

}

ul {
  text-align:center;
  padding:10px

}

li {
  text-align:center;
}

#email {
  margin-left:4px;
}


@media screen and (max-width: 992px) {
  body {
    width: 50%;
  
  }
  #map{
    width: 50%;
  }
  .navbar-item{
    color:#36454F
  }
  .navbar-link{
color:#36454F
  } 
  #banner-image{
    width:50%;
  }
}

@media screen and (max-width: 200px) {
  body {
    width: 100%;
  }
  #map{
    width: 100%;
  }

}
*/


